html,
body {
  height: 100%;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(
    45deg,
    var(--beige-100),
    var(--beige-300),
    var(--beige-500),
    var(--beige-700),
    var(--beige-900)
  );
  background-size: 300% 300%;
  animation: gradientAnimation 8s ease infinite;
}
