.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

/* Centered caption styles */
.banner-caption {
  position: absolute; /* Absolute position to center the text */
  top: 70%; /* Center vertically */
  left: 25%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset for perfect centering */
  color: var(--background-color); /* Text color */
  text-align: left; /* Center the text */
  z-index: 5; /* Ensure caption is above the image */
}

/* Button styles */
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: var(--background-color);
  border: none;
  cursor: pointer;
  z-index: 10;
}
.carousel-control-next svg,
.carousel-control-prev svg {
  width: var(--spacing-md);
  height: var(--spacing-md);
  fill: var(--background-color);
}
.carousel-control-prev {
  left: var(--spacing-md); /* Position for previous button */
}

.carousel-control-next {
  right: var(--spacing-md); /* Position for next button */
}

.carousel-image.banner-image {
  min-width: 100%;
  background-size: cover; /* Cover the entire area with the image */
  position: relative; /* Set position relative for text positioning */
  opacity: 0;
  transition: opacity 0.5s ease;
  aspect-ratio: 3/ 1;
  background-position: bottom; /* Center the image */
}

.carousel-image.product-description-image {
  min-width: 100%; /* Ensure the item takes full width */
  position: relative; /* Position relative for child positioning */
  opacity: 0; /* Start as invisible */
  transition: opacity 0.5s ease; /* Smooth transition for visibility */
  aspect-ratio: 1; /* Maintain a square aspect ratio */
  overflow: hidden; /* Hide overflow for the img elements */
  border-radius: var(--border-radius-xl);
}

.carousel-image.product-description-image img {
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Make the image fill the container */
  object-fit: cover; /* Ensures the image covers the container without distorting */
}
.carousel-image.active {
  opacity: 1; /* Only show the active image */
}
