.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-image {
  min-width: 100%;
  height: 600px; /* Set a fixed height for the carousel items */
  background-size: cover; /* Cover the entire area with the image */
  background-position: bottom; /* Center the image */
  position: relative; /* Set position relative for text positioning */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.carousel-image.active {
  opacity: 1; /* Only show the active image */
}

/* Centered caption styles */
.carousel-caption {
  position: absolute; /* Absolute position to center the text */
  top: 70%; /* Center vertically */
  left: 25%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset for perfect centering */
  color: var(--background-color); /* Text color */
  text-align: left; /* Center the text */
  z-index: 5; /* Ensure caption is above the image */
}

/* Button styles */
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: var(--background-color);
  border: none;
  cursor: pointer;
  z-index: 10;
}
.carousel-control-next svg,
.carousel-control-prev svg {
  width: var(--spacing-md);
  height: var(--spacing-md);
  fill: var(--background-color);
}
.carousel-control-prev {
  left: var(--spacing-md); /* Position for previous button */
}

.carousel-control-next {
  right: var(--spacing-md); /* Position for next button */
}
