/* footer.css */

/* Footer styles */
.footer {
  background-color: var(--secondary-background-color);
  color: var(--text-primary);
  padding: var(--spacing-md) var(--spacing-none);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .col-left,
.footer .col-right {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer .col-left {
  align-items: flex-start !important;
}

.footer .col-right {
  align-items: flex-end !important;
}

/* Responsive layout */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-logo,
  .footer-links,
  .footer-social,
  .footer-contact {
    margin-bottom: 15px;
  }
}
