.order-summary {
  background-color: var(--background-color); /* White background */
  border: 1px solid var(--border-color);
  padding: var(--spacing-md);
  overflow: hidden;
}

.order-header {
  border: 1px solid var(--border-color);
}

.order-image-wrapper {
  width: 100%;
  border-radius: var(--border-radius-large);
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
}
