/* Product Card Styles */
.product-card {
  width: 250px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 400px;
}

.product-card:hover .product-image {
  transform: scale(1.05);
}

/* Product Image Wrapper */
.product-image-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
}

/* Image inside the Wrapper */
.cart-image,
.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-image {
  transition: transform 0.3s ease;
}

.variant-option {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.variant-option:hover {
  transform: scale(1.1);
}

.variant-option.selected {
  border: 2px solid var(--border-color); /* Ensure color variable is correct */
  transition: var(--primary-color) 0.3s ease-in-out;
}

/* Product Name and Price */
.product-title {
  margin: var(--spacing-none) var(--spacing-none) var(--spacing-2xs)
    var(--spacing-none);
}
